- form_for(page_matcher) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :url
    %br
    = f.text_area :url
  %p
    = f.label :item_regexp, "Item Regexp YAML (do my_regexp.to_yaml and paste that in here)"
    %br
    = f.text_area :item_regexp
  %p
    = f.submit "Submit"
